# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.env.*
.env
.venv/

# ======================
# OS / Editor
# ======================
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
# ruff cache
.ruff_cache/

# ======================
# Logs & runtime files
# ======================
*.log
*.pid

# ======================
# Build / packaging
# ======================
build/
dist/
*.egg-info/
