[Unit]
Description=Telegram Server Monitor Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/starry/ssd/bots/server-monitor-bot
ExecStart=/home/starry/ssd/bots/server-monitor-bot/venv/bin/python -m bot
Restart=always
RestartSec=5

#ENV
Environment=MPLCONFIGDIR=/tmp/mpl-cache

# Security hardening
User=starry
NoNewPrivileges=true
ProtectSystem=full
ProtectHome=read-only
ReadWritePaths=/home/starry/.docker/buildx
PrivateTmp=true
SystemCallFilter=~@reboot @mount

[Install]
WantedBy=multi-user.target
