[Unit]
Description=Telegram Server Monitor Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/starry/ssd/bots/server-monitor-bot
ExecStart=/home/starry/ssd/bots/server-monitor-bot/venv/bin/python -m bot
Restart=always
RestartSec=5

#ENV
Environment=MPLCONFIGDIR=/tmp/mpl-cache

# Security hardening
User=starry
# Protections
PrivateTmp=yes
PrivateDevices=yes
ProtectSystem=strict
ProtectHome=read-only
ProtectClock=yes
ProtectHostname=yes
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectProc=invisible
# Restrictions
LockPersonality=yes
RestrictNamespaces=yes
RestrictRealtime=yes
CapabilityBoundingSet=
AmbientCapabilities=
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
SystemCallFilter=~@mount
# allow writing here
ReadWritePaths=/home/starry/.docker/buildx

[Install]
WantedBy=multi-user.target